
/logs
*.log
*.bak
.DS_Store
ehthumbs.db
Thumbs.db
*.sh
.checkstyle
.classpath
.externalToolBuilders
.gradle
.nb-gradle
.idea
.project
.settings
eclipse
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
*.launch
*.number
